@import "tailwindcss";
@plugin "daisyui" {
  themes: forge-dark --default, forge-light;
}
@source "../../node_modules/asterui/dist";

@plugin "daisyui/theme" {
  name: "forge-dark";
  default: true;
  prefersdark: true;
  color-scheme: dark;
  --color-base-100: #1e1e1e;
  --color-base-200: #252526;
  --color-base-300: #2d2d2d;
  --color-base-content: #d4d4d4;
  --color-primary: #569cd6;
  --color-primary-content: #1e1e1e;
  --color-secondary: #c586c0;
  --color-secondary-content: #1e1e1e;
  --color-accent: #3dc9b0;
  --color-accent-content: #1e1e1e;
  --color-neutral: #3a3d41;
  --color-neutral-content: #d4d4d4;
  --color-info: #9cdcfe;
  --color-info-content: #1e1e1e;
  --color-success: #608b4e;
  --color-success-content: #d4d4d4;
  --color-warning: #ce9178;
  --color-warning-content: #1e1e1e;
  --color-error: #f44747;
  --color-error-content: #1e1e1e;
}

@plugin "daisyui/theme" {
  name: "forge-light";
  color-scheme: light;
  --color-base-100: #ffffff;
  --color-base-200: #f3f3f3;
  --color-base-300: #e5ebf1;
  --color-base-content: #000000;
  --color-primary: #0000ff;
  --color-primary-content: #ffffff;
  --color-secondary: #af00db;
  --color-secondary-content: #ffffff;
  --color-accent: #008080;
  --color-accent-content: #ffffff;
  --color-neutral: #d3d3d3;
  --color-neutral-content: #000000;
  --color-info: #0451a5;
  --color-info-content: #ffffff;
  --color-success: #008000;
  --color-success-content: #ffffff;
  --color-warning: #863b00;
  --color-warning-content: #ffffff;
  --color-error: #cd3131;
  --color-error-content: #ffffff;
}
